/* @import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css"); */
.avatar-n-social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar-n-info {
  /* margin: auto; */

  /* align-items: center; */
}

/* .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-right: 18rem;
}

.avatar-image {
  margin: 1rem 1rem 1rem 0;
}

.avatar-info {
  font-size: 1.3rem;
}

.avatar-info .author {
  font-size: 1.5rem;
  font-weight: 600;
} */
